<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="/admin/user"><span class="glyphicon glyphicon-user"></span> ユーザー管理画面</a>
            </li>
            <li>
                <a href="/admin/admin_user"><span class="glyphicon glyphicon-user"></span> 管理ユーザー管理画面</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                            class="glyphicon glyphicon-info-sign"></span> その他 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/admin/db">DBツール</a></li>
                    <li><a href="/admin/setting">設定</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
