<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>スクレイピングツール</h1>
    <h2 id="info_men_count">スクレイピング 女性人数 : 取得中</h2>
    <h2 id="info_woman_count">スクレイピング 男性人数 : 取得中</h2>
    <h2 id="send_men_count">メッセージ送信 女性人数 : 取得中</h2>
    <h2 id="send_woman_count">メッセージ送信 男性人数 : 取得中</h2>
    <button type="button" id="scraping_btn" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span>スクレイピング開始</button>
    <button type="button" id="message_send_btn" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span>メッセージ送信開始</button>
  </div>
</div>
</body>
</html>
