<div class="modal fade" id="modal_set_is_enable_send_by_ids" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">チェックしたものを反映しますか？</h4>
            </div>
            <% rows.forEach(function(r, i) { %>
                <input type="hidden" name="is_enable_send[]" id="is_enable_send_<%= r.id %>" value="">
            <% }); %>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="submit" class="btn btn-primary">実行</button>
            </div>
        </div>
    </div>
</div>