<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>性別</th>
        <th>パスワード</th>
        <th></th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% rows.forEach(function(r) { %>
    <tr>
        <td><%= r.id %></td>
        <td><%= r.name %></td>
        <td><%= r.sex %></td>
        <td><%= r.password %></td>
        <td><a class="btn btn-sm btn-outline">更新</a></td>
        <td><a class="btn btn-sm btn-outline">削除</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>